.man-background {
    background-image: url('../../../../assets/images/our-client-man.jpg');
}

.woman-background {
    background-image: url('../../../../assets/images/our-client-woman.jpg');
}

.male-background {
    background-image: url('../../../../assets/images/our-client-male.jpg');
}

.general-background {
    opacity: .8;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}