    .text-title {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .separator-tag {
        height: .3rem;
        width: 10%;
        margin: auto;
    }
    
    .space-between-divs {
        padding-top: 0.5%;
    }