<!-----------PRINCIPAL SECTION------------>
<app-principal-information [textButton]="componentConstants.LETS_TALK_BUTTON" [specialize]="componentConstants.SPECIALIZE_TEXT" [description]="componentConstants.SPECIALIZE_DESCTIPTION"></app-principal-information>
<!-----------EVENT SECTION------------>
<app-event></app-event>
<!-----------INFORMATION SECTION------------>
<app-general-information [title]="componentConstants.EXPERIENCE_TITLE" [description]="componentConstants.EXPERIENCE_DESCRIPTION"></app-general-information>
<!-----------OUR WORK SECTION------------>
<app-our-work></app-our-work>
<!-----------INFORMATION SECTION------------>
<app-general-information [title]="componentConstants.PROJECTS_TITLE" [description]="componentConstants.PROJECTS_DESCTIPTION"></app-general-information>
<!-----------PROJECT SECTION------------>
<app-featured-projects></app-featured-projects>
<!-----------INFORMATION SECTION------------>
<app-general-information [title]="componentConstants.CLIENTS_TITLE" [description]="componentConstants.CLIENTS_DESCTIPTION"></app-general-information>
<!-----------OUR CLIENTS SECTION------------>
<app-our-clients></app-our-clients>
<!-----------LETS TALK SECTION------------>
<app-lets-talk [content]="componentConstants.LETS_TALK_BUTTON"></app-lets-talk>
<!-----------FOOTER SECTION------------>
<app-footer></app-footer>