<app-principal-information></app-principal-information>
<app-event></app-event>
<app-general-information [title]="componentConstants.EXPERIENCE_TITLE" [description]="componentConstants.EXPERIENCE_DESCRIPTION"></app-general-information>
<app-our-work></app-our-work>
<app-general-information [title]="componentConstants.PROJECTS_TITLE" [description]="componentConstants.PROJECTS_DESCTIPTION"></app-general-information>
<app-featured-projects></app-featured-projects>
<app-general-information [title]="componentConstants.CLIENTS_TITLE" [description]="componentConstants.CLIENTS_DESCTIPTION"></app-general-information>
<app-our-clients></app-our-clients>
<app-lets-talk [content]="componentConstants.LETS_TALK_BUTTON"></app-lets-talk>
<app-footer></app-footer>