<div class="row override-row-margin" [ngClass]="project.id === 1 ? 'background-blue' : project.id === 2 ? 'background-red' : 'background-white'">
    <ng-container *ngIf="project.id !==2; else dercocontainer">
        <div class="img-div col-6">
            <img class="image-style" src="{{ project.image}} " alt="" />
        </div>
        <div class="big-top-space big-separator col-6">
            <div [ngClass]="project.id === 1 ? 'text-white' : 'text-black'">
                <img src="{{ project.logo}} " alt="" />
                <div class="separator">
                    <hr class="separator-tag" [ngClass]="project.id === 1 ? 'text-white' : 'text-red'" />
                </div>
                <div class="medium-top-space">
                    <span class="title-text">{{project.title}}</span>
                </div>
                <div class="low-top-space width-text">
                    <span>{{project.description}}</span>
                </div>
                <div class="tags-div medium-top-space">
                    <span class="material-icons space-icon" [ngClass]="project.id === 1 ? 'tag-blue' : 'tag-white'">local_offer</span> <span class="tag-text" *ngFor="let tag of project.tags">{{tag}}</span>
                </div>
                <div class="medium-top-space">
                    <button class="detail-button py-2" [ngClass]="project.id === 1 ? 'background-white text-blue' : 'background-red text-white'">{{ componentConstants.TEXT_BUTTON | uppercase }}</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #dercocontainer>
    <div class="col-6 center-content-div">
        <div class="big-top-space-red big-separator col-6">
            <div class="text-white">
                <img src="{{ project.logo}} " alt="" />
                <div class="separator">
                    <hr class="separator-tag-red text-white" />
                </div>
                <div class="medium-top-space">
                    <span class="title-text">{{project.title}}</span>
                </div>
                <div class="low-top-space">
                    <span>{{project.description}}</span>
                </div>
                <div class="tags-div medium-top-space">
                    <span class="material-icons space-icon tag-red">local_offer</span> <span class="tag-text" *ngFor="let tag of project.tags">{{tag}}</span>
                </div>
                <div class="medium-top-space">
                    <button class="detail-button py-2 background-white text-red">{{ componentConstants.TEXT_BUTTON | uppercase }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="img-div col-6">
        <img class="image-style" src="{{ project.image}} " alt="" />
    </div>
</ng-template>