<div class="row override-row-margin">
    <div class="col-4 strategy">
        <app-our-work-detail [title]="componentConstants.STRATEGY_TITLE" [description]="componentConstants.STRATEGY_DESCRIPTION"></app-our-work-detail>
    </div>
    <div class="col-4 experience">
        <app-our-work-detail [title]="componentConstants.EXPERIENCE_TITLE" [description]="componentConstants.EXPERIENCE_DESCRIPTION"></app-our-work-detail>
    </div>
    <div class="col-4 objective">
        <app-our-work-detail [title]="componentConstants.OBJECTIVE_TITLE" [description]="componentConstants.OBJECTIVE_DESCRIPTION"></app-our-work-detail>
    </div>
</div>