@import 'material-icons/iconfont/filled.scss';
@import 'material-icons/iconfont/outlined.scss';
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
    font-family: Graphik;
    src: url(assets/fonts/Graphik-Extralight.otf) format("truetype");
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.color-primary-green {
    color: #04a700;
}

.background-primary-gray {
    background-color: #273138;
}

.button-green {
    background-color: #02b300;
    color: #fff;
}

.text-description {
    color: #9a9a9a;
}

.override-row-margin {
    margin-left: 0rem;
    margin-right: 0rem;
}

.black-background {
    background-color: #000000;
}

.text-black {
    color: #000000;
}

.white-text {
    color: #fff;
}

.be-flex {
    display: flex;
}

.place-center {
    place-content: center;
}

.expand-all {
    width: 100%;
}

.lets-talk-button {
    width: 19rem;
    border-radius: .3rem;
}

.router-link-active {
    color: #fff;
    border-bottom: .3rem solid #02b300;
}

.graphik-font {
    font-family: Graphik;
}

.background-blue {
    background-color: #223b82
}

.background-white {
    background-color: #ffffff
}

.background-red {
    background-color: #c92c3a
}

.text-blue {
    color: #223b82
}

.text-red {
    color: #c92c3a
}

.text-shine-red {
    color: #ee2e24;
}

.background-shine-red {
    background-color: #ee2e24;
}

.border-buttons {
    border-color: currentColor;
}

.fill-height {
    height: 100%;
}

.fit-image {
    width: fit-content;
}