.background-div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-image: url('../../../../assets/images/background.jpg');
}

.space-container {
    padding-top: 13rem;
    padding-bottom: 13rem;
}

.text-specialize {
    font-size: 3rem;
}

.space-button {
    padding-top: 2%;
}

@media only screen and (max-width: 991px) {
    .space-button {
        padding-top: 5%;
    }
}